{# 
   This is the main template file that all other files 
   will be inherited # from. PLEASE DO NOT DELETE THIS 
   FILE!!! 
#}
<html>
<head>
    <title>Title</title>
    <style type="text/css">
    .container {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
    }
    a {} 
    img {
        margin-top: 20px;
    }
    .footer,
    .header {
        background-color: #eee;
        padding: 20px;
        
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="header"> {{menu}} </div> 
        	{% block content %} 



        	{% endblock %}
        <div class="footer">Here is your footer </div>
    </div>
</body>
</html>